<h3>Details</h3>

<div class="person-details">
  <div class="basic-info">
    <div class="picture" [style.backgroundImage]="'url(' + person.image + ')'"></div>
    <span>
      <p>Gender: <b>{{person.gender}}</b></p>
      <p>Height: <b>{{person.height}}m</b></p>
      <p>Mass: <b>{{person.mass}}kg</b></p>
      <p>Birth Year: <b>{{person.born || 'Unavailable'}}</b></p>
      <p>Eyes: <b>{{person.eyeColor || 'Unavailable'}}</b></p>
    </span>
  </div>
  <div class="other-info">
    <p>Hair color(s): <b>{{person.hairColor || 'Unavailable'}}</b></p>
    <p>Skin color(s): <b>{{person.skinColor || 'Unavailable'}}</b></p>
    <p>Homeworld: <b>{{person.homeworld || 'Unavailable'}}</b></p>
    <p>Specie: <b>{{person.species || 'Unavailable'}}</b></p>
  </div>
  <div class="buttons">
    <button mat-raised-button (click)="close()">Close</button>
  </div>
</div>
