h3 {
  margin-top: 0;
}

.person-details {
  display: flex;
  flex-direction: column;

  .basic-info {
    display: flex;
    justify-content: space-between;

    .picture {
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position: center;
    }

    span {
      width: 55%;

      p {
        margin: 3px 0;
      }
    }
  }

  b {
    text-transform: capitalize;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
