:host {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card {
  padding: 30px;
  margin: auto;
  text-align: center;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto 0 20px 0;
}
