<div class="list">
  <ng-container *ngIf="!hasError; else showErrorEmptyState">
    <ng-container *ngFor="let person of shownPeople$ | async">
      <star-quiz-person [person]="person" (guessed)="guessed($event)" [gameStatus]="gameStatus" (countdownStatus)="countdownChanged($event)"></star-quiz-person>
    </ng-container>
  </ng-container>
</div>

<div class="pagination">
  <button mat-raised-button (click)="changePage('previous')" [disabled]="(hasPreviousPage$ | async) === false">Previous page</button>
  <button mat-raised-button (click)="changePage('next')" [disabled]="(hasNextPage$ | async) === false">Next page</button>
</div>

<ng-template #showErrorEmptyState>
  <mat-card>
    <mat-card-content>
      <p>
        Ops! It's seems something went wrong. Try again later.
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>