<div class="start-game-container" *ngIf="!startedGame">
  <div class="options">
    <ng-container *ngIf="!startedCountdown">
      <ng-container *ngIf="hasGameInProgress">
        <h3>It seems you left an unfinished game. Do you wanna continue or start over?</h3>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="startCountdown(false)">New game</button>
          <button mat-raised-button color="primary" (click)="startCountdown(true)">Load game</button>
        </div>
      </ng-container>
      <ng-container *ngIf="!hasGameInProgress">
        <h3>Are you ready?</h3>
        <h2>Press start to play, or go back to main menu.</h2>
        <div class="buttons">
          <button mat-button color="primary" routerLink="/">Back</button>
          <button mat-raised-button color="primary" (click)="startCountdown(false)">Start</button>
        </div>
      </ng-container>
    </ng-container>
    <div [ngClass]="{'hidden': !startedCountdown}">
      <star-quiz-start-countdown [startCountdown]="startCountdownSubject" (finishedCountdown)="finishedCountdown()"></star-quiz-start-countdown>
    </div>
  </div>
</div>
