@import '../../../assets/styles/theme';

.start-game-container {
  border-radius: 4px;
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;

  .options {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    color: mat-color($star-quiz-primary);
    display: flex;
    flex-direction: column;
    height: 150px;
    margin: auto;
    max-width: 340px;
    min-width: 240px;
    padding: 30px;
    width: 80%;
    z-index: 10;
    justify-content: space-around;

    h3 {
      text-align: center;
      margin: 0;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      button {
        min-width: 150px;
        margin: 10px 3px 0;
      }
    }
  }

  &:before {
    content: '';
    background-color: #f5f5f5;
    filter: blur(4px);
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }
}
