@import '../../../assets/styles/variables';
@import '../../../assets/styles/theme';

.timer {
  display: flex;
  align-items: center;
  font-family: 'Star Jedi';
  width: 150px;

  &.stopped {
    color: mat-color($mat-red, 500);
  }

  h1 {
    margin-left: 10px;
  }
}

@media (max-width: $small) {
  .timer {
    width: 100px;
  }

  h1 {
    margin-left: 5px;
    font-size: 1.3em;
  }
}