<div class="game-container">
  <star-quiz-start-game (started)="startGame($event)"></star-quiz-start-game>
  <div class="header">
    <div class="logo">
      <img src="./../../assets/images/icon.png">
      <h2 class="title">star quiz!</h2>
    </div>
    <div class="tools">
      <star-quiz-answers-status [gameStatus]="gameStatus"></star-quiz-answers-status>
      <star-quiz-countdown [(timer)]="gameStatus.timer" [start]="startSubject" [pause]="pauseSubject" (finished)="timesUp()"></star-quiz-countdown>
    </div>
  </div>
  <div class="content">
    <star-quiz-person-list [(gameStatus)]="gameStatus" (countdownStatus)="countdownStatusChanged($event)"></star-quiz-person-list>
  </div>

</div>
