@import '../../../assets/styles/theme';

:host {
  background-color: mat-color($star-quiz-primary, 700);
  border-radius: 4px;
  color: #fff;
  display: flex;
  margin: 10px;
  min-width: 220px;
  padding: 10px;
  text-align: center;
  width: 15%;
  flex-direction: column;

  .picture {
    border-radius: 60%;
    margin: auto;
    height: 80px;
    width: 80px;
    border: 1px solid;
    background-size: cover;
    background-position: top center;
  }

  .guess {
    text-transform: uppercase;
    &.correct {
      color: mat-color($mat-green, 500);
    }
    &.incorrect {
      color: red;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }
}