<div class="picture" [style.backgroundImage]="'url(' + person.image + ')'"></div>
<h3 class="guess" *ngIf="currentGuess.guessedName" [ngClass]="className">{{currentGuess.guessedName}}</h3>
<h3 *ngIf="!currentGuess.guessedName">?</h3>
<div class="buttons">
  <button mat-raised-button title="Guess" (click)="guess()" [disabled]="!!currentGuess.guessedName">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-raised-button color="primary" title="More info" (click)="showModalInfo()" [disabled]="!!currentGuess.guessedName">
    <mat-icon>info</mat-icon>
  </button>
</div>
