<h3 class="title">Time's up!</h3>

<div>Correct answers: <b>{{gameStatus.correctAnswers}}</b></div>
<div>Incorrect answers: <b>{{gameStatus.incorrectAnswers}}</b></div>
<div>Score: <b>{{gameStatus.totalScore}}</b></div>

<form (ngSubmit)="saveResult(resultForm)" #resultForm="ngForm">
  <h4>Do you want to save this results?</h4>

  <mat-form-field>
    <input matInput placeholder="Enter your name" name="name" #name="ngModel" [(ngModel)]="userName" required>
    <mat-error *ngIf="name.errors && name.errors.required">This field is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="email" matInput placeholder="Enter your email" name="email" #email="ngModel" [(ngModel)]="useremail"
      required>
    <mat-error *ngIf="email.errors && email.errors.required">This field is required.</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button type="button" (click)="close()">Don't save</button>
    <button mat-raised-button color="primary">Save</button>
  </div>
</form>
