.title {
  margin-top: 0;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  button {
    margin-left: 5px;
  }
}