@import '../../assets/styles/variables';

.container {
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .centered-card {
    border-radius: 3px;
    margin: auto;
    max-width: 700px;
    min-width: 280px;
    padding: 10px;
    text-align: center;
    width: 70%;

    img {
      width: 100px;
    }

    h2.title {
      font-family: 'Star Jedi', arial;
      text-align: center;
      color: yellow;
      letter-spacing: 14.5px;
      font-size: 3em;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      button {
        width: 150px;
        margin: 10px 3px;
      }
    }
  }
}

@media (max-width: $small) {
  .container {
    .centered-card {
      h2.title {
        font-size: 1.5em;
        letter-spacing: 10px;
      }

      img {
        width: 75px;
      }
    }
  }
}
