<div class="container" [style.backgroundImage]="'url(./../../assets/images/' + backgroundImage + ')'">
  <div class="centered-card">
    <img src="./../../assets/images/icon.png">
    <h2 class="title">starquiz!</h2>
    <div class="buttons">
      <button mat-raised-button color="primary" routerLink="/ranking">Ranking</button>
      <button mat-raised-button color="primary" routerLink="/game">Play</button>
    </div>
  </div>
</div>
