<h3>Make a guess</h3>

<form (ngSubmit)="makeGuess(guessForm)" #guessForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="Enter your guess" name="guess" #guess="ngModel" [(ngModel)]="userGuess" required>
    <mat-error *ngIf="guess.errors && guess.errors.required">You need to guess a name for this character.</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary">Guess</button>
  </div>
</form>
