@import '../../../assets/styles/theme';
@import '../../../assets/styles/variables';

.score {
  font-size: 1.2em;
  display: flex;
  color: #fff;

  span {
    display: flex;
    align-items: center;
    margin: 0 10px;
    background-color: mat-color($star-quiz-primary, 700);
    border-radius: 4px;
    padding: 0 10px 0 0;
    height: 60px;

    div {
      text-align: center;

      p {
        margin: 0;

        &.points {
          font-weight: 800;
        }
      }
    }

    &:before {
      content: '';
      width: 60px;
      height: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: -20px 20px;
    }
  }

  .correct {
    &:before {
      background-image: url('../../../assets/images/correct.png');
    }
  }

  .wrong {
    &:before {
      background-image: url('../../../assets/images/incorrect.png');
    }
  }
}


@media (max-width: $medium) {
  .score p.label {
    display: none;
  }
}
