<div class="score">
    <span class="correct">
      <div>
        <p class="points">{{gameStatus.correctAnswers}}</p>
        <p class="label">Correct</p>
      </div>
    </span>
    <span class="wrong">
      <div>
        <p class="points">{{gameStatus.incorrectAnswers}}</p>
        <p class="label">Incorrect</p>
      </div>
    </span>
  </div>