@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rubik');

@font-face {
  font-family: Star Jedi;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/star-jedi_[allfont.net].ttf') format('truetype');
}
