@import '~@angular/material/theming';
@include mat-core();

$star-quiz-primary: mat-palette($mat-blue-gray);
$star-quiz-accent:  mat-palette($mat-yellow, A200, A100, A400);
$star-quiz-warn:    mat-palette($mat-red);
$star-quiz-theme: mat-light-theme($star-quiz-primary, $star-quiz-accent, $star-quiz-warn);

@include angular-material-theme($star-quiz-theme);