@import '../../assets/styles/variables';
@import '../../assets/styles/theme';

.game-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: mat-color($star-quiz-primary, 100);
}

.header {
  width: 100%;
  min-width: $medium;
  margin: 30px auto;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .logo {
    display: flex;
    text-align: center;
    width: 30%;

    img {
      height: 100px;
    }

    .title {
      font-family: 'star jedi';
      margin-left: 10px;
    }
  }

  .tools {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
  }
}

.content {
  height: calc(100vh - 150px);
  overflow: auto;
  width: 80%;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;

  mat-card {
    text-align: center;
    padding: 30px;
    width: 60%;
    margin: auto;
  }

  .buttons {
    display: flex;

    button {
      width: 150px;
      margin: 20px auto;
    }
  }
}


@media (max-width: $medium) {
  .header {
    display: flex;
    min-width: 0;
    margin: 10px auto;
    height: 70px;

    .logo {
      width: unset;
      img {
        display: none;
      }

      .title {
        margin: 0;
      }
    }
  }

  .content {
    height: calc(100vh - 90px);
  }
}

@media (max-width: $small) {
  .header {
    height: 100px;
    flex-direction: column;
    justify-content: space-between;

    .tools {
      width: 80%;
      justify-content: space-around;
    }
  }

  .content {
    height: calc(100vh - 120px);
  }
}
