<div class="game-container">
  <div class="header">
    <div class="logo">
      <img src="./../../assets/images/icon.png">
      <h2 class="title">star quiz!</h2>
    </div>
  </div>
  <div class="content">
    <div class="empty-state" *ngIf="ranking.length === 0">
      <mat-card>
        <mat-card-content>
          <p>
            There's no saved games on the ranking.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-table [dataSource]="ranking" *ngIf="ranking.length > 0">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="buttons">
      <button mat-raised-button routerLink="/">Back</button>
      <button mat-raised-button routerLink="/game" color="primary">Play</button>
    </div>
  </div>
</div>
